@media (max-width: 1560px) {
    .main-catalog__cards {
        display: grid;
        grid-template-columns: repeat(3, 230px);
        column-gap: 40px;
        row-gap: 30px;
    }


}
@media (max-width: 1200px) {
    .header {
        margin-bottom: 5px;
        width: 100%;
        height: 90px;
        box-shadow: 0 6px 4px -4px rgba(99, 99, 99, 0.2);
        top: 0;
        background-color: white;
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        z-index: 2;
        position: fixed;
        &__title {
            padding: 10px;
            margin-left: -10px;
        }
        &__list a {
            margin-inline: 5px;
        }
        &-a {
            font-size: 16px;
            padding: 10px;
        }
        &__search {
            border-radius: 50px;
            padding-left: 15px;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 26 26' fill='%239e9e9e' xmlns='http://www.w3.org/2000/svg' color='%2350b946' class='search-form__search-icon'%3E%3Cpath d='M10.526 3a7.526 7.526 0 017.527 7.526 7.485 7.485 0 01-.7 3.156l3.29 4.429a1.81 1.81 0 01-2.532 2.532l-4.427-3.292a7.488 7.488 0 01-3.158.701 7.526 7.526 0 110-15.052zm0 12.744a5.217 5.217 0 100-10.436 5.218 5.218 0 000 10.436z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 65px 10px;
            width: 100px;
            cursor: pointer;
            animation: 200ms forwards;
            height: 40px;
            z-index: 4;
            &-no-card {
                font-size: 17px;
                width: 100%;
                margin-top: 15px;
                padding: 25px 0px 5px 25px;
            }
            &-cards {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                position: relative;
                padding-bottom: 25px;
                & h2 {
                    font-weight: bold;
                    font-size: 17px;
                }
            }
            &-card {
                & img {
                    height: 100%;
                }
                &-main {
                    margin-left: 20px;
                }
                &-title {
                    font-weight: bold;
                    font-size: 14px;
                    width: 60%;
                }
            }
            &-block {
                position: relative;
                display: flex;
            }
            &:hover {
                &::placeholder {
                    color: $purple;          
                }
            }
            &_alt {
                padding-right: 110px;
                position: relative;
                cursor: auto;
                font-size: 20px;
                animation-name: search_animation;
                background-image: none;
                padding-left: 25px;
                border: 1.5px solid $purple;
                @keyframes search_animation {
                    0% {
                        height: 50px;
                    }
                    100% {
                        width: 520px;
                        height: 50px;
                    }
                }
                &:hover {
                    &::placeholder {
                        color: #858585;
                    }
                }
                &::placeholder {
                    font-size: 20px;
                }
            }
            &-result {
                width: 520px;
            }
            &-search-button {
                fill: #9e9e9e;
                cursor: pointer;
                padding: 5px;
                z-index: -1;
                opacity: 0;
                animation: 200ms linear;
                & svg {
                    margin-top: 3px;
                }
                &:hover {
                    fill: $purple;
                }
                &_alt {
                    z-index: 4;
                    opacity: 1;
                    transform: scale(1.1);
                    &-2 {
                        animation-name: search-button-animation;
                        @keyframes search-button-animation {
                            20% {
                                transform: translate(5px, 0);
                                fill: red;
                            }
                            40% {
                                transform: translate(-7px, 0);
                            }
                            60% {
                                transform: translate(5px, 0);
                            }
                            80% {
                                transform: translate(-7px, 0);
                            }
                            100% {
                                transform: translate(5px, 0);
                                fill: red;
                            }
                        }
                    }
                }
            }
        }
        &__fav-profile {
            position: relative;
            margin-right: -30px;
        }
        &__favorite-products-link {
            padding: 10px;
            margin-left: -70px;
            cursor: pointer;
            &:hover .header__right-svg {
                fill: $purple;
            }
        }
        &__right-svg {
            transition: 100ms;
            fill: #9e9e9e;
        }
        &__profile {
            position: absolute;
            right: 0;
            margin-right: 12px;
            top: -15px;
            z-index: 5;
            height: 105px;
            background-color: rgba(white, 1);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            border: 1px solid rgba($purple, .4);
            min-width: 200px;
            &-block {
                display: flex;
                width: 100%;
                height: 50%;
                align-items: center;
                justify-content: center;
                & h2 {
                    font-weight: 700;
                    font-size: 17px;
                }
            }
            &-info {
                border-bottom: 1px solid rgba(black, .1);  
                padding: 0 20px;
                & h2 {
                    color: black;
                    margin-left: 15px;
                }
            }
            & a {
                & svg {
                    fill: rgb(255,92,87);
                    width: 14px;
                    margin-right: 5px;
                }
                color: rgb(255,92,87);
            }
            &-out {
                @extend %deselection;
                cursor: pointer;
            }
        }
    }
    .title {
        font-size: 30px;
    }
    .logo {
        width: 28px;
    }
    .main__conteiner {
        margin-top: 10px;
    }



    .auto-slider {
        img {
            position: absolute;
            @extend %deselection;
        }
        &__picture-1 {
            right: 70px;
            width: 35%;
        }
        &__picture-2 {
            right: 70px;
            width: 30%;
        }
        &__picture-3 {
            right: 70px;
            width: 35%;
        }
        &__picture-4 {
            right: 70px;
            width: 30%;
        }
        &__picture-5 {
            right: 70px;
            width: 30%;
        }
        &__block-info {
            width: 40%;
            height: 330px;
            margin-left: 80px;
            & h1 {
                font-size: 2.3vw;
                text-transform: uppercase;
                margin-top: 30px;
            }
            & h2 {
                margin-top: 40px;
                font-size: 1.9vw;
            }
        }
        &__katalog-link {
            bottom: 70px;
            width: 180px;
            height: 40px;
            font-size: 15px;
        }
    }
    .main-titles {
        font-size: 20px;
    }
    .brands {
        &__slider {
            &-wrapper {
                width: calc(100% - 140px);
            }
            &-lane {
                img {
                    width: 130px;
                    margin-right: 40px;
                }
            }      
        }
    }
    .manufacture {
        height: 340px;
        margin-top: 60px;
        &__right {
            img {
                margin-top: 30px;
                height: 80%;
            }
        }
        &__kinds {
            margin-top: 30px;
        }
        &__kind {
            margin-right: 60px;
            padding-bottom: 15px;
            svg {
                width: 50px;
                height: 40px;
            }
            p {
                margin-top: 10px;
                font-size: 16px;
            }
        }
        &__descriptions {
            margin-top: 30px;
        }
    }
    .main {
        padding-bottom: 30px;
    }
    .cards {
        margin-top: 40px;
    }



    .bread-crumbs {
        margin-top: 20px;
    }
    .main-catalog__category {
        min-width: 230px;
    }
    .main-catalog__cards {
        display: grid;
        grid-template-columns: repeat(2, 230px);
        column-gap: 40px;
        row-gap: 30px;
        margin-left: 20px;
    }
    .feedback__button {
        padding: 10px;
    }
    .card {
        min-width: 230px;
        max-width: 230px;
        height: 350px;
        &__top {
            width: 100%;
            margin-top: 15px;
            height: 25px;
            display: flex;
            align-items: center;
            position: relative;
            & h3 {
                font-size: 15px;
                font-weight: bold;
            }
        }
        &__discount {
            position: absolute;
            left: 0;
            background-color: $purple;
            padding: 5px 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            font-weight: bold;
            font-size: 14px;
            color: #fff;
            display: none;
        }
        &__rating {
            position: absolute;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &-icon {
                fill: rgb(240, 208, 31);
            }
            &-value {
                margin-left: 6px;
                font-style: 17px;
            }
        }
        &__img-block {
            height: 140px;
            margin-top: 15px;
        }
        &__title {
            width: 100%;
            margin-top: 15px;
            font-size: 15px;
            font-weight: bold;
        }
        &__bottom {
            display: flex;
            align-items: center;
            width: 100%;
            position: absolute;
            bottom: 24px;
        }
        &__price {
            font-size: 22px;
            font-weight: bold;
            &-old {
                position: relative;
                &_alternative {
                    color: rgb(182,186,194);
                    font-size: 16px;
                }
            }
            &-new {
                margin-top: 5px;
                color: rgb(219,54,54);
            }
        }
        &__like {
            position: absolute;
            right: 0;
            bottom: 0px;
            fill: rgba(black, .1);
            transition: 200ms;
            &:hover {
                fill: rgba($purple, .4);
            }
            &_alternative {
                fill: $purple;
            }
        }
        &:hover {
            -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.15);
        }
    }



    .about-company {
        width: 100%;
        display: flex;
        margin-bottom: 30px;
        &__text {
            width: 58%;
            font-size: 17px;
            line-height: 1.5;
            color: rgb(0, 0, 0, .75);
        }
        &__right {
            margin-left: 12%;
            width: 30%;
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 21px;
                font-weight: bold;
            }
            p {
                font-size: 16px;
                margin-top: 14px;
                color: rgb(0, 0, 0, .8);
            }
            img {
                width: 48px;
                margin-top: 20px;
            }
        }
    }
    .exposition {
        width: 100%;
        margin-bottom: -30px;
        &__block {
            width: 100%;
            display: flex;
            position: relative;
            height: 250px;
        }
        &__img {
            height: 100%;
        }
        &__description {
            margin-top: 0;
            position: absolute;
            right: 0;
            width: 340px;
            h2 {
                font-size: 22px;
                font-weight: bold;
            }
            p {
                font-size: 18px;
                margin-top: 20px;
                color: rgba(black, .8);
            }
        }
    }


}

/* @media (max-width: 920px) {
    
} */