html, body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto';
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
input {
    &::placeholder {
        font-size: 15px;
        color: #858585;
    }
}
.conteiner {
    width: 85%;
    display: flex;
}
.header {
    margin-bottom: 5px;
    width: 100%;
    height: 90px;
    box-shadow: 0 6px 4px -4px rgba(99, 99, 99, 0.2);
    top: 0;
    background-color: white;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    z-index: 2;
    position: fixed;
    &-search-closer {
        position: fixed;
        right: -200px;
        top: -200px;
        width: 1000px;
        height: 1000px;
        border-radius: 50%;
        background-color: rgba(black, 0.6);
        z-index: -1;
        opacity: 0;
        animation: 150ms forwards linear;
        &_alt {
            animation-name: header-search-closer;
            z-index: 2;
            opacity: 1;
        }
    }
    &__title {
        padding: 10px;
        margin-left: -10px;
    }
    &__conteiner {
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        &_alt {
            opacity: 0;
            z-index: -1;
            width: 0%;
        }
    }
    &__list a {
        margin-inline: 10px;
    }
    &-a {
        font-size: 18px;
        padding: 10px;
        transition: 200ms;
        color: rgb(58, 58, 58);
        &:hover {
            color: $purple;
        }
    }
    &__right {
        display: flex;
        align-items: center;
    }
    &__search {
        border-radius: 50px;
        padding-left: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 26 26' fill='%239e9e9e' xmlns='http://www.w3.org/2000/svg' color='%2350b946' class='search-form__search-icon'%3E%3Cpath d='M10.526 3a7.526 7.526 0 017.527 7.526 7.485 7.485 0 01-.7 3.156l3.29 4.429a1.81 1.81 0 01-2.532 2.532l-4.427-3.292a7.488 7.488 0 01-3.158.701 7.526 7.526 0 110-15.052zm0 12.744a5.217 5.217 0 100-10.436 5.218 5.218 0 000 10.436z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 65px 10px;
        width: 100px;
        cursor: pointer;
        animation: 200ms forwards;
        height: 40px;
        z-index: 4;
        &-no-card {
            font-size: 17px;
            width: 100%;
            margin-top: 15px;
            padding: 25px 0px 5px 25px;
        }
        &-cards {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            position: relative;
            padding-bottom: 25px;
            & h2 {
                font-weight: bold;
                font-size: 17px;
            }
        }
        &-card {
            width: 90%;
            height: 70px;
            margin-top: 30px;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            & img {
                height: 100%;
            }
            &-main {
                margin-left: 20px;
            }
            &-title {
                font-weight: bold;
                font-size: 15px;
                width: 70%;
            }
            &-discount {
                position: absolute;
                left: 0;
                top: 0;
                background-color: $purple;
                padding: 4px 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                font-weight: bold;
                font-size: 11px;
                color: #fff;
                display: none;
            }
            &-rating {
                margin-top: 7px;
                display: flex;
                align-items: center;
                & svg {
                    fill: rgb(240, 208, 31);
                    width: 16px;
                }
                &-value {
                    margin-left: 6px;
                    font-size: 17px;
                }
            }
            &-right {
                display: flex;
                position: absolute;
                right: 0;
            }
            &-like {
                cursor: pointer;
                fill: rgba(black, .1);
                transition: 200ms;
                &:hover {
                    fill: rgba($purple, .4);
                }
                &_alternative {
                    fill: $purple;
                }
            }
            &-price {
                font-weight: bold;
                margin-right: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &-old {
                    position: relative;
                    font-size: 18px;
                    &_alternative {
                        color: rgb(182,186,194);
                        font-size: 15px;
                    }
                }
                &-new {
                    font-size: 18px;
                    margin-top: 5px;
                    color: rgb(219,54,54);
                }
            }
        }
        &-block {
            position: relative;
            display: flex;
        }
        &:hover {
            &::placeholder {
                color: $purple;          
            }
        }
        &_alt {
            padding-right: 110px;
            position: relative;
            cursor: auto;
            font-size: 20px;
            animation-name: search_animation;
            background-image: none;
            padding-left: 25px;
            border: 1.5px solid $purple;
            @keyframes search_animation {
                0% {
                    height: 50px;
                }
                100% {
                    width: 620px;
                    height: 50px;
                }
            }
            &:hover {
                &::placeholder {
                    color: #858585;
                }
            }
            &::placeholder {
                font-size: 20px;
            }
        }
        &-result {
            position: absolute;
            width: 620px;
            top: 0;
            z-index: 3;
            border-radius: 25px;
            margin-top: 20px;
            background-color: white;
            &_alternative {
                display: none;
            }
        }
        &-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70px;
            height: 40px;
            position: relative;
            margin-left: 10px;
            left: -100px;
            &-empty {
                z-index: -1;
                opacity: 0;
                display: flex;
                &_alt {
                    transition: 100ms;
                    z-index: 4;
                    opacity: 1;
                }
            }
            & button {
                width: 30px;
            }
        }
        &-value-del {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &-left, &-right{
                content: "";
                position: absolute; 
                width: 18px; 
                height: 2.5px;
                border-radius: 100px; 
                background: #9e9e9e;
                transform: rotate(45deg);
            }
            &-left {
                transform: rotate(-45deg);
            }
            &:hover &-left, &:hover &-right {
                background: $purple;
            }
        }
        &-line {
            margin-left: 4px;
            width: 2px;
            height: 30px;
            background-color: #dbdbdb;
        }
        &-search-button {
            fill: #9e9e9e;
            cursor: pointer;
            padding: 5px;
            z-index: -1;
            opacity: 0;
            animation: 200ms linear;
            & svg {
                margin-top: 3px;
            }
            &:hover {
                fill: $purple;
            }
            &_alt {
                z-index: 4;
                opacity: 1;
                transform: scale(1.1);
                &-2 {
                    animation-name: search-button-animation;
                    @keyframes search-button-animation {
                        20% {
                            transform: translate(5px, 0);
                            fill: red;
                        }
                        40% {
                            transform: translate(-7px, 0);
                        }
                        60% {
                            transform: translate(5px, 0);
                        }
                        80% {
                            transform: translate(-7px, 0);
                        }
                        100% {
                            transform: translate(5px, 0);
                            fill: red;
                        }
                    }
                }
            }
        }
    }
    &__fav-profile {
        position: relative;
    }
    &__favorite-products-link {
        padding: 10px;
        margin-left: -60px;
        cursor: pointer;
        &:hover .header__right-svg {
            fill: $purple;
        }
    }
    &__right-svg {
        transition: 100ms;
        fill: #9e9e9e;
    }
    &__profile {
        position: absolute;
        right: 0;
        margin-right: 12px;
        top: -15px;
        z-index: 5;
        height: 105px;
        background-color: rgba(white, 1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        border: 1px solid rgba($purple, .4);
        &-block {
            display: flex;
            width: 100%;
            height: 50%;
            align-items: center;
            justify-content: center;
            & h2 {
                font-weight: 700;
                font-size: 17px;
            }
        }
        &-info {
            border-bottom: 1px solid rgba(black, .1);  
            padding: 0 20px;
            & h2 {
                color: black;
                margin-left: 15px;
            }
        }
        & a {
            color: rgb(255,92,87);
        }
        &-out {
            @extend %deselection;
            cursor: pointer;
        }
    }
}
.title {
    font-size: 40px;
    min-width: 240px;
    display: flex;
    align-items: center;
    font-weight: 700;
    background: -webkit-linear-gradient(15deg, #bc69dc,#5d2df4);
    background: linear-gradient(15deg, #bc69dc,#5d2df4);
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes header-search-closer {
    100% {
        transform: scale(900%);
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .4);
    width: 20px;
    height: 20px;
    animation: rippleEffect .4s ease-in-out;
    @keyframes rippleEffect {
        0% {
            transform: scale(1);
          } 
        100% {
            opacity: 0;
            transform: scale(24);
        }
    }
}

.card {
    min-width: 230px;
    max-width: 230px;
    height: 350px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(purple, .2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(purple, .2);
    box-shadow: 0px 4px 8px 0px rgba(purple, .2);
    &__conteiner {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__top {
        width: 100%;
        margin-top: 15px;
        height: 25px;
        display: flex;
        align-items: center;
        position: relative;
        & h3 {
            font-size: 15px;
            font-weight: bold;
        }
    }
    &__discount {
        position: absolute;
        left: 0;
        background-color: $purple;
        padding: 5px 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        display: none;
    }
    &__rating {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon {
            fill: rgb(240, 208, 31);
        }
        &-value {
            margin-left: 6px;
            font-style: 17px;
        }
    }
    &__img-block {
        height: 140px;
        margin-top: 15px;
    }
    &__title {
        width: 100%;
        margin-top: 15px;
        font-size: 15px;
        font-weight: bold;
    }
    &__bottom {
        display: flex;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 24px;
    }
    &__price {
        font-size: 22px;
        font-weight: bold;
        &-old {
            position: relative;
            &_alternative {
                color: rgb(182,186,194);
                font-size: 16px;
            }
        }
        &-new {
            margin-top: 5px;
            color: rgb(219,54,54);
        }
    }
    &__like {
        position: absolute;
        right: 0;
        bottom: 0px;
        fill: rgba(black, .1);
        transition: 200ms;
        z-index: 10;
        &:hover {
            fill: rgba($purple, .4);
        }
        &_alternative {
            fill: $purple;
        }
    }
    &:hover {
        -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.15);
    }
}
.remove {
    display: none;
}
a {
    color: black;
}