.registration {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    &__block {
        width: 400px;
        background-color: white;
        z-index: 3;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__close-button {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms;
        &:hover {
            &:before, &:after {
                background-color: rgb(137, 137, 137);
            }
        }
        &:before, &:after {
            content: ""; 
            position: absolute; 
            width: 18px; 
            height: 3px; 
            background: rgb(177, 177, 177);
            border-radius: 12px;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

    }
    &__title {
        @extend %h1;
        margin: 0;
        margin-top: 40px;
        color: black;
    }
    &__form {
        margin-top: 10px;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-block {
            width: 100%;
            display: flex;
            position: relative;
            margin-top: 34px;
            & input {
                width: 100%;
                padding: 10px 40px 10px 0px;
                font-size: 17px;
                color: black;
                border: none;
                border-bottom: 1px solid #d8d8d8;
                background: transparent;
                height: 34px;
                background-color: white;
                &:focus ~ label,
                &:valid ~ label {
                    top: -16px;
                    color: $purple;
                    font-weight: bold;
                }
            }
            & label {
                position: absolute;
                top: 8px;
                left: 0;
                font-size: 15px;
                color: black;
                pointer-events: none;
                transition: 200ms;
            }
        }
    }
    &__eye {
        padding: 5px;
        position: absolute;
        top: 1px;
        right: 0;
        cursor: pointer;
        fill: black;
        opacity: .5;
        transition: 200ms;
        &:hover {
            opacity: 1;
        }
        &:after {
            position: absolute;
            content: '';
            top: 14px;
            right: 3.5px;
            width: 26px;
            height: 3px;
            background: linear-gradient(white 50%, black 50%);
            transform: rotate(45deg);
        }
        &_alternative:after {
            transform: scale(0);
        }
    }
    &__button {
        text-decoration: none;
        display: block;
        width: 100%;
        padding-block: 15px;
        margin-top: 40px;
        position: relative;
        overflow: hidden;
        background: $purple;
        border-radius: 10px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        color: #fff;
        transition: 200ms;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .2);
        @extend %deselection;
        &:hover {
            background-color: darken($purple, 5%);
        } 
    }
    &__question {
        margin-top: 40px;
        font-size: 16px;
    }
    &__swap {
        color: $purple;
        font-weight: bold;
        font-size: 17px;
        margin-top: 5px;
        margin-bottom: 30px;
        cursor: pointer;
        padding: 10px;
        @extend %deselection;
    }
    &__closer {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .3);
    }
}


.display-none {
    display: none;
}